{% extends 'base.html' %}

{% block script %}
    {{ super() }}
    <script src="{{ url_for('main.static', filename='js/navigation.js') }}"></script>
{% endblock %}

{% block style %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('main.static', filename='css/navigation.css') }}">
    <link rel="stylesheet" href="{{ url_for('main.static', filename='css/main_page.css') }}">
{% endblock %}

{% block nav %}
    {% include 'navigation.html' %}
{% endblock %}
{##}
{#{% block header %}#}
{#    {% include 'header.html' %}#}
{#{% endblock %}#}