@font-face {
    font-family: Comfortaa;
    src: url('../fonts/comfortaa/Comfortaa-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Comfortaa;
    src: url('../fonts/comfortaa/Comfortaa-Light.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face{
    font-family: Comfortaa;
    src: url('../fonts/comfortaa/Comfortaa-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}